@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

body {
  font-family: var(--font-open-sans-regular);
  color: #4c7d89;
  background-color: #f3dfd2;
}

.font-no-name-regular {
  font-family: var(--font-no-name-regular);
}

.font-open-sans-semibold {
  font-family: var(--font-open-sans-semibold);
}

.bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-red-button{
  background-color: rgba(255, 96, 96, 0.5)÷
}

.bg-yellow-button {
  background-color: #e5c300;
}

.bg-pink-light {
  background-color: #f6ebe2;
}

.bg-pink-mid {
  background-color: #f3dfd2;
}

.bg-pink-dark {
  background-color: #f8d8c2;
}

.hover\:bg-pink-mid:hover {
  background-color: #f3dfd2;
}

.hover\:bg-pink-dark:hover {
  background-color: #f8d8c2;
}

.font-no-name-regular {
  font-family: var(--font-no-name-regular);
}

.font-open-sans-semibold {
  font-family: var(--font-open-sans-semibold);
}

.font-open-sans-regular {
  font-family: var(--font-open-sans-regular);
}
h2 {
  width: 100%;

  text-align: center;
  border-bottom: 1px solid #4c7d89;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #f8d8c2;
  padding: 0 10px;
}

/* Hide the button by default */
.hidden-button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* Show it when hovering over the container */
.trigger-button:hover .hidden-button {
  opacity: 1;
  pointer-events: auto;
}

@theme {
  --breakpoint-xs: 460px;
}