@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

body {
  font-family: var(--font-open-sans-regular);
  color: #4C7D89;
  background-color: #F3DFD2;
}

.bg-yellow-button {
  background-color: #E5C300;
}

.bg-pink-light {
  background-color: #F6EBE2;
}

.bg-pink-mid {
  background-color: #F3DFD2;
}

.bg-pink-dark {
  background-color: #F8D8C2;
}

.hover\:bg-pink-mid:hover {
  background-color: #F3DFD2;
}


.font-no-name-regular {
  font-family: var(--font-no-name-regular);
}

.font-open-sans-semibold {
  font-family: var(--font-open-sans-semibold);
}

.font-open-sans-regular {
  font-family: var(--font-open-sans-regular);
}
h2 {
   width: 100%; 
   
   text-align: center; 
   border-bottom: 1px solid #4C7D89;
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background:#F8D8C2;
    padding:0 10px; 
}