@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

body {
  font-family: var(--font-open-sans-regular);
  color: #4c7d89;
  background-color: #f3dfd2;
}

.bg-yellow-button {
  background-color: #e5c300;
}

.bg-pink-light {
  background-color: #f6ebe2;
}

.bg-pink-mid {
  background-color: #f3dfd2;
}

.bg-pink-dark {
  background-color: #f8d8c2;
}

.hover\:bg-pink-mid:hover {
  background-color: #f3dfd2;
}

.hover\:bg-pink-dark:hover {
  background-color: #f8d8c2;
}


.font-no-name-regular {
  font-family: var(--font-no-name-regular);
}

.font-open-sans-semibold {
  font-family: var(--font-open-sans-semibold);
}

.font-open-sans-regular {
  font-family: var(--font-open-sans-regular);
}
h2 {
  width: 100%;

  text-align: center;
  border-bottom: 1px solid #4c7d89;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #f8d8c2;
  padding: 0 10px;
}
